@use '@/app/styles/Settings' as settings;

.empty {
  position: relative;

  &--v2 {
    margin: 0;

    .empty__content {
      position: absolute;
      top: 0;
      inset-inline-start: 50%;
      transform: translateX(-50%);
      margin-block: 0 !important;
      margin-inline: 0 !important;

      span {
        width: 100%;
        display: inline-block;
      }
    }

    .empty__table {
      @include settings.flex(center, center, column);
      position: relative;
      width: 100%;

      &__row {
        width: 100%;
        height: 64px;
        background-color: settings.$gray-200-alt;
        border-radius: 8px;
        margin-top: 8px;

        + .empty__table__row {
          margin-top: 4px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        @include settings.square(100%);
        top: 0;
        inset-inline-start: 0;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          #{settings.$white} 69.74%
        );
      }
    }
  }

  &__content {
    height: 100%;
    @include settings.flex(center, center, column);
    margin-block: 0;
    margin-inline: auto;
    text-align: center;

    figure {
      margin-bottom: 12px;
    }

    span {
      @include settings.label(sm);
      color: settings.$gray-900-alt;
      font-style: normal;
      width: 170px;
      display: block;
      text-align: center;
    }
  }

  &__table {
    display: none;
  }
}
