// 🔵 Blue Colors
$blue-25: #f4fbff;
$blue-50: #eff6ff;
$blue-45: #f5f8ff;
$blue-60: #eef2ff;
$blue-75: #e0f2ff;
$blue-5: #f9fbff;
$blue-10: #f8fbff;
$blue-100: #def3ff;
$blue-150: #c7eeff;
$blue-200: #b6eaff;
$blue-900: #003141;
$blue-950: #0f172a;
$blue-primary: #007bff;
$blue-primary-dark: #0056b3;
$blue-light: #00baff;
$blue-sky: #0ea5e9;
$blue-sky-alpha-10: #0ea5e91a;
$blue-accent: #40a9ff;
$blue-ant: #40a9ff;

// ⚪️ Gray & Black Colors
$black: #000000;
$gray-50: #f5f5f5;
$gray-50-alt: #f5f8fa;
$gray-100: #ebe6e7;
$gray-200: #e0e0e0;
$gray-200-alt: #f3f4f6;
$gray-225: #eaeaea;
$gray-250: #d0d0d0;
$gray-300: #e5e7eb;
$gray-333: #333333;
$gray-400: #9ca3af;
$gray-400-alt: #969696;
$gray-500: #6a7282;
$gray-550: #838383;
$gray-500-alt: #8b949e;
$gray-600: #666666;
$gray-650: #4b5563;
$gray-700: #6b7280;
$gray-750: #374151;
$gray-800: #2a2a2a;
$gray-900: #161616;
$gray-950: #2a2a2a;
$gray-900-alt: #111827;
$gray-900-deep: #1f2937;
$gray-999: #999999;
$gray-light: #acacac;
$gray-ddd: #dddddd;

//White
$white: #ffffff;
$white-alpha-46: #ffffff75;
$white-alpha-78: #ffffffc7;

// 🟥 Red Colors
$red-50: #fef2f2;
$red-500: #ef4444;
$red-550: #ed1c24;
$red-500-alpha-34: #ef444457;
$red-500-alpha-45: #ef444473;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #b30000;
$red-danger: #dc3545;
$red-bootstrap: #c82333;

// 🟩 Green Colors
$green-50: #ecfdf3;
$green-success: #28a745;
$green-success-dark: #218838;
$green-600: #16a34a;

// 🟪 Purple & Violet Colors
$purple-50: #f3e8ff;
$purple-100: #ede9fe;
$purple-700: #6d28d9;
$purple-600-alpha-5: #7c3aed0d;
$violet-600: #7c3aed;

// 🪨 Slate Colors
$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-500: #64748b;
$slate-600: #475569;
$slate-800: #1e293b;

// 🟧 Amber / Yellow Colors
$amber-500: #f59e0b;
$amber-50: #fff7ed;
