/* Gilroy Light */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy_light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy_regular.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
  font-display: swap;
}

/* Gilroy Medium */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy_medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy_bold.ttf") format("truetype");
  font-weight: 600; /* Bold */
  font-style: normal;
  font-display: swap;
}

/* Gilroy ExtraBold */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy_extrabold.ttf") format("truetype");
  font-weight: 700; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}
