@use '@/app/styles/Settings' as settings;

.not-found {
  @include settings.flex(center, center, column);
  gap: 12px;
  padding: 80px 16px;
  text-align: center;
  color: settings.$blue-950;

  &__icon {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background: settings.$purple-100;
    display: grid;
    place-items: center;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
  }

  &__desc {
    margin: 0;
    color: settings.$gray-650;
    max-width: 320px;
    line-height: 1.5;
  }
}
